<div layout="row" layout-align="center center" ng-controller="PostController" ng-init="GetPosts()">
    <ul align-items:center flex-gt-xs="50" layout-margin>
        <md-card class="card" ng-repeat="item in userPosts" style="background: #f3f2f2">
            <md-card-header>
                <md-card-avatar>
                    <img class="md-user-avatar" src="../../img/Avatars/png/{{item.user.Avatar}}.png" />
                </md-card-avatar>
                <md-card-header-text>
                    <span class="md-title">{{item.user.Name}} {{item.user.Surname}}</span>
                    <span class="md-subhead">{{item.AddDate | date:'yyyy-MM-dd HH:mm'}}</span>
                </md-card-header-text>
            </md-card-header>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{item.Title}}</span>
                </md-card-title-text>
            </md-card-title>
            <ul ng-repeat="tag in item.PostTags">
                <a href="#/tag/{{tag.TagId}}">{{tag.TagId}}</a>
            </ul>
            <md-card-content>
                <p>
                    {{item.Description}}
                </p>
                <md-input-container class="md-block" layout="row" layout-align="start center">
                    <textarea ng-model="item.comment" rows="1" md-select-on-focus style="background: white"></textarea>
                    <md-button ng-click="addComment(item)">Dodaj</md-button>
                    <md-button href="#/posts/{{item.Id}}">Szczegóły</md-button>
                </md-input-container>
            </md-card-content>
        </md-card>
    </ul>
</div>