<html lang="en">

<head>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
    <meta name="viewport" content="initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link type="text/css" href="index.css" />
</head>

<body ng-app="StarterApp" ng-cloak>
    <md-toolbar layout="column" layout="row">
        <div class="md-toolbar-tools">
            <div ng-controller="AppCtrl">
                <i class="material-icons" ng-click="toggleSidenav('left')" aria-label="Toggle Menu">dehaze</i>
            </div>
            <h1 layout-align-gt-sm="center">
                LocalSocial
            </h1>
        </div>
    </md-toolbar>

    <div layout="row" flex class="change-my-css">
        <section>

            <md-sidenav class="md-sidenav-left" md-component-id="left"
                        md-disable-backdrop md-whiteframe="4">

                <md-toolbar class="md-toolbar-tools">
                    <div ng-controller="AppCtrl">
                        <i class="material-icons" ng-click="toggleSidenav('left')" aria-label="Toggle Menu">dehaze</i>
                    </div>
                    <h1 layout-align-gt-sm="center">
                        LocalSocial
                    </h1>
                </md-toolbar>
                <div flex>
                    <md-list ng-controller="MenuController as menu">
                        <md-list-item ng-repeat="menuItem in menu.items">
                            <md-button href="{{menuItem.LinkReference}}">
                                <span class="ng-binding ng-scope">
                                    <md-icon class="material-icons">{{menuItem.LinkIcon}}</md-icon>
                                    {{menuItem.LinkText}}
                                </span>
                            </md-button>
                        </md-list-item>
                    </md-list>
                </div>
            </md-sidenav>
        </section>
    </div>

    <div>
        <md-content>
            <ul ng-controller="ContentController as content">
                <li ng-repeat="item in content.items2" align-items:center flex-gt-xs="50">
                    <md-card class="card" layout-margin>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline">{{item.LinkTitle}}</span>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-actions layout="row" layout-align="start center">
                            <md-card-icon-actions>
                                <md-button class="material-icons">favorite</md-button>
                                <md-button class="material-icons">share</md-button>
                            </md-card-icon-actions>
                        </md-card-actions>
                        <md-card-content>
                            <p>
                                {{item.LinkDescrpytion}}
                            </p>
                        </md-card-content>
                    </md-card>
                </li>
            </ul>
        </md-content>
    </div>
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/angular-animate/angular-animate.min.js"></script>
    <script src="lib/angular-aria/angular-aria.min.js"></script>
    <script src="lib/angular-messages/angular-messages.min.js"></script>
    <script src="lib/angular-resource/angular-resource.min.js"></script>
    <script src="lib/angular-route/angular-route.min.js"></script>
    <!-- Angular Material Library -->
    <script src="lib/angular-material/angular-material.min.js"></script>
    <!-- Controllers -->
    <script src="Controllers/postController.js"></script>
    <script src="Controllers/menuController.js"></script>
    <script src="Controllers/contentController.js"></script>
    <!-- app.js -->
    <script src="app.js"></script>

    <!-- Your application bootstrap -->
    <script type="text/javascript">

        /**
         * You must include the dependency on 'ngMaterial'
         */
        angular.module('app', ['ngMaterial']);
    </script>
</body>

</html>